name: Run unitests on Push
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-local-file:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Make script executable
        run: chmod +x ./tests/test_install.sh

      - name: Run unittests
        run: ./tests/test_install.sh
